html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background: url('./joanna-kosinska-129039.jpg') no-repeat;
  padding: 20px;
  background-size: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
font-family: 'Dhurjati', sans-serif;

}

button {

  background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    
    cursor: pointer;
    outline: inherit !important;
}




ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 30px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
